* {
  margin: 0;
  padding: 0;
}

body {
  background: #F0F4F4;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 28px;
  font-weight: normal;
  color: #2C2C2C;
}

.nav-background {
  background: #ffffff;
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  height: 55px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background: url(file:///Users/emilyparamore/Desktop/Second%20Year/css%20coding/img/web%20design%20logo.svg) center/contain no-repeat;
}

.nav-links {
  list-style: none;
  font-size: 18px;
  font-family: 'Lora', serif;
  display: flex;
  text-align: center;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  text-decoration-line: none;
  color: #728B8C;
}

.nav-links li a:hover {
  text-decoration-line: underline;
  color: #728B8C;
}

.search-container {
  width: 30%;
  height: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0px 20px;
}

.search-container form {
  border-radius: 25px;
  position: relative;

}

.search-container input {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 25px;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 5px 8px 15px;
  border: 1px solid #918F8C;
  font-family: 'Open Sans', sans-serif;
}

input:focus {
  outline: none;
}

.search-container button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
}

.search-container button i {
  color: lightgrey;
}

.search-container button:hover i {
  color: #728B8C;
}

.login {
  width: 350px;
  background: none;
  padding: 30px;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login h2 {
  margin-bottom: 30px;
  color: #2C2C2C;
}

.input-SU {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  border: 0;
  padding: 0 15px;
  color: lightgrey;
  margin-bottom: 20px;
  border: 1px solid #918F8C;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 3px;
}

.login button {
  border-radius: 15px;
  align-items: center;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  background-color: #728B8C;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  margin: 10px;
}

.login button:hover {
  background-color: #5D7273;
}

.login hr {
  margin: 15px;
}

.alternative-sign-up p a {
  color: #918F8C;
  margin: 0;
  cursor: pointer;
}

.alternative-sign-up p a:hover {
  color: #787674;
  margin: 0;
}

::placeholder {
  color: lightgrey;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #728B8C;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.footer-col {
  padding: 40px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  color: lightgrey;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #2C2C2C;
  background-color: #ffffff;
}